.App {
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  font-size: 25px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
  transform: none;
}

.tag {
  display: inline-block;
  background-color: #a1a1a1;
  font-size: 30px;
  border-radius: 30px;
  min-width: 15%;
  padding: 15px;
  margin: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.tag:hover{
  background-color: #0f0f0f;
}

.closeBtn{
  float: right;
}

.addBtn{
  float: right;
}
